body {
  font-family: sans-serif;
}

pre {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
}

.fight {
  background-color: #44c767;
  border-radius: 1em;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.fight:hover {
  background-color: #5cbf2a;
}
.fight:active {
  position: relative;
  top: 1px;
}

.fight:disabled {
  background-color: lightgrey;
  border-color: lightslategrey;
  color: lightslategrey;
  cursor: auto;
  text-shadow: none;
}

.robotName {
  font-size: 1.5em;
  padding: 10px;
}
